<!-- views/terms.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/css/terms-style.css">

    <title>Terms y Condiciones</title>
</head>

<body>
    <h1>Terminos y and Conditions</h1>
    <p> 1. Aceptación de Términos
        Al acceder y utilizar este sitio web, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo
        con estos términos, por favor, no utilices el sitio.
    </p>
    2. Información del Sitio
    Este sitio web proporciona información relacionada con el tránsito, regulaciones de tráfico, seguridad vial y otros
    temas relacionados. La información se ofrece solo con fines informativos y no constituye asesoramiento legal.
    <p> 3. Uso del Sitio
        a. No debes utilizar este sitio de manera que viole las leyes aplicables o los derechos de terceros.
        b. No se permite la copia, reproducción o distribución no autorizada del contenido de este sitio web.
        c. El uso de este sitio para promover actividades ilegales está estrictamente prohibido.
    </p>
    <p>

    </p>
    4. Enlaces a Terceros
    Este sitio puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido o las políticas de
    privacidad de estos sitios, y no asumimos responsabilidad por ellos.

    <p>

    </p>
    5. Privacidad
    Nuestra política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal. Al
    utilizar este sitio, aceptas nuestras prácticas de privacidad.

    <p>

    </p>
    6. Limitación de Responsabilidad
    No somos responsables de ningún daño directo, indirecto, incidental, especial o consecuente que surja del uso o la
    incapacidad de utilizar este sitio web.
    <p>

    </p>
    7. Cambios en los Términos
    Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios entrarán en vigencia tan
    pronto como se publiquen en el sitio. Es tu responsabilidad revisarlos periódicamente.
    <p>

    </p>
    8. Terminación del Acceso
    Nos reservamos el derecho de negar o cancelar el acceso a este sitio a cualquier persona que viole estos términos y
    condiciones.
    <p>

    </p>
    9. Ley Aplicable
    Estos términos se regirán e interpretarán de acuerdo con las leyes del lugar de jurisdicción competente.
    <p>

    </p>
    10. Contacto
    Si tienes alguna pregunta o inquietud con respecto a estos términos y condiciones, puedes contactarnos a través de
    la información de contacto proporcionada en el sitio.
    </p>
</body>

</html>